body{
    width: 100%;
    margin: 0;
    background-color: orange;
    
    
}

.container-header{
    width: 80%;
    margin: 0 auto;
}

header{
    background: green;  
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.name{
    float: left;
    padding: 10px 2px;
    margin: 0;
    background-color: aqua;
}

nav{
    float: right;
}

nav ul {
margin: 0;
padding: 0;
list-style: none;
}

nav li {
    display: inline-block;
    color: black;
    margin-left: 70px;
    margin-top: 6.25%;
    

}

nav a{
    color: gray;
    text-decoration: none;
    font-weight: 300;
}

.container-body{
    background-color: palevioletred;
    width: 80%;
    margin: 0 auto;
}

.container-body::after{
    content: '';
    display: table;
    clear: both;
}
img{
    float: left;
}

p{
    text-align: left;
float: left;
margin-left: 10px;
}