body{
    width: 100%;
    height: auto;
    margin: 0 auto 0 auto;
    background-color: #dddddd;
    
    
}

.container-header{
    width: 960px;
    margin: 0 auto 0 auto;
}

header{
    background: #ffffff;  
}

main{
    margin:30px 0px 60px 0px;
    background: #dddddd;
}

footer{
    background-color: #666666;
    width: 100%;
    height: 25px;
    border-top-color: black;
    border-width: 20px;
    height: 20%;
    margin: -25px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    
}

footer::after{
    justify-content: center;
    content: '';
    display: table;
    clear: both;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.name{

    float: left;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    margin: 0;
    background-color:#4aaaa5;
}

nav{
    float: right;
}

nav ul {
margin: 0;
padding: 0;
list-style: none;
}

nav li {
    display: inline-block;
    color: black;
    margin-left: 50px;
    
    margin-top: 5%;
    

}

nav a{
    color: gray;
    text-decoration: none;
    font-weight: 300;
}

.container-body{
    margin: 0px 0px 0px 0px;
    padding: 20px 20px 0px 0px;  
    line-height: 45px;
    height: 450px;
    background-color: #ffffff;
    width: 940px;
    margin: 0 auto;
}

.container-body::after{
    content: '';
    display: table;
    clear: both;
}



.about-me{
    color: #4aaaa5;
    padding: 20px 4px 20px 12px;
    margin: 0px 0px -10px 20px;
}

img{
    float: left;
    height: 200px;
    width: auto;
    margin: 0px 0px 0px 0px;
}



p{

    
text-align: left;
width: 100%;
height: 20px;
float: left;
margin: 20px 10px 0 5px;
padding: 0px 0px 0px 0px;

}



hr{
    margin: 10px 0px 24px 20px;
    width: 95%;
    color: #dddddd;
    border-color: #dddddd;
}

.word-block{
    margin: 10px 0px 0px 20px;
    padding: 0px 0px 0px 0px;
}

.divider{
    content: '';
    margin: 0px 0px 0px 0px;
    height: 5px;
    width: 100%;
    padding: 3;
    background-color:#4aaaa5;
    display: table;
    clear: both;
}

.copyright{
    margin: 0px 33% 4px 0px; 
    height: 5px;
    background-color: brown;
    text-align: center;
    width: 33%;
    float: right;
    
}
